:root{
    --background-color: #123451;
    --font-stack: system-ui;
    --height: 250px; 
    --width: calc(var(--height)*0.618)
}

* { 
    background-color: var(--background-color);
    margin: 0; 
    padding: 0;

    /*border: 1px solid red; */
}

.header{
    padding: 20px;

    background-color: white; 
    
    font-family: var(--font-stack);
    font-weight: bolder;
} 

h1{
    background-color: white;
}

h2{
    font-family: var(--font-stack);
    color: white;
    padding: 10px;
}

.title{
    padding-left: 20px;
}

.dashboard{
    --dash-item: 300px;
    display: grid;
    grid-template-columns: repeat(5, var(--width));  
    gap: 75px;
    margin: 40px;
    grid-auto-rows: var(--dash-item); 
}

.dash-item{
    --title-size: 10px;

    margin: 10px;
    padding: 10px; 
    border-radius: 10px;
    height: var(--dash-item); 
    width: calc(0.618*var(--dash-item)); 

    background-color: #345572;

    font-family: var(--font-stack); 
    font-size: 10px;
}

.dash-item>div{
    background-color: #345572;
    font-size: 15px;
    color: black;
}

.dash-title{
    background-color: white;
}

.dash-image{
    height: calc(var(--dash-item)*0.618);
    width: calc(var(--dash-item)*0.618); 
    background-color: white;
}

.dash-info{
    padding-top: 10px;
}

.dash-info>*{
    background-color: white;
    background-color: #345572;
}

.dash-title{
    font-weight: bolder; 
    font-size: 20px;
}


img{
    height: calc(0.618*var(--dash-item));
    width: calc(0.618*var(--dash-item));
    background-color: white;
    margin: auto;
}

.read-button, #cancel-button, #submit-button{
    border: 0;
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
    
    background-color: green;

    color: white;
    font-weight: bolder; 
}

.add-item{
    border: 2px solid grey;
    margin: 10px;
    height: calc(var(--dash-item));
    width: calc(var(--dash-item)*0.618);
    color: grey;
    font-family: var(--font-stack);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.click{
    font-size: 10px;
}


fieldset{
    position: fixed;
    --width: 250px;
    --height: var(1.618*var(--width)); 
    height: 300px; 
    width: var(--width); 
    background-color: #345572;
    border: 0; 
    border-radius: 10px;
    
    outline: none; 
    box-shadow: 0 10px 10px 0 black;
    font-family: var(--font-stack);
    font-size: 25px;

    padding: 20px 50px 200px 50px; 
    line-height: 2rem;
    display: none; 
    
    top: 15%; 
    left: 30%; 
}

fieldset>*{
    margin: 10px;    
}
fieldset>*{
    color: white;
}

input{
    background-color: white;
    color: black;
    border:0; 
    border-radius: 4px;
    padding: 4px;
    width: 250px;
}

label{
    background-color: #345572;
    font-family: var(--font-stack);
    color: white;
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.1); 
    box-shadow: 10px 5px 5px black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }