:root{
    --background-color: #123451;
    --font-stack: system-ui;
    --height: 250px; 
    --width: calc(var(--height)*0.618)
}

* { 
    background-color: var(--background-color);
    margin: 0; 
    padding: 0;
}

.header{
    padding: 20px;

    background-color: white; 
    
    font-family: var(--font-stack);
    font-weight: bolder;
} 

h1{
    background-color: white;
}

h2{
    font-family: var(--font-stack);
    color: white;
    padding: 10px;
}

.dashboard{
    --dash-item: 300px;
    display: grid;
    grid-template-columns: repeat(5, var(--width));  
    gap: 75px;
    margin: 40px;
    grid-auto-rows: var(--dash-item); 
}

.dash-item{
    --title-size: 10px;

    margin: 10px;
    padding: 10px; 

    height: var(--dash-item); 
    width: calc(0.618*var(--dash-item)); 

    background-color: white;

    font-family: var(--font-stack); 
    font-size: 10px;
}

.dash-item>div{
    background-color: white;
    font-size: 15px;
}

.dash-image{
    border: 1px solid gray;
    height: calc(var(--dash-item)*0.618);
    width: calc(var(--dash-item)*0.618); 
    background-color: white;
}

.dash-info{
    padding-top: 10px;
}

.dash-info>*{
    background-color: white;
}

.dash-title{
    font-weight: bolder; 
    font-size: 20px;
}


img{
    height: calc(0.618*var(--dash-item));
    width: calc(0.618*var(--dash-item));
    background-color: white;
    margin: auto;
}

.read-button{
    border: 0;
    border-radius: 10px;
    padding: 7px;
    margin-top: 5px;
    
    background-color: green;

    color: white;
    font-weight: bolder; 
}

.add-item{
    border: 2px solid grey;
    margin: 10px;
    height: calc(var(--dash-item));
    width: calc(var(--dash-item)*0.618);
    color: grey;
    font-family: var(--font-stack);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.click{
    font-size: 10px;
}


fieldset{
    position: fixed;
    --width: 250px;
    --height: var(1.618*var(--width)); 
    height: var(--height); 
    width: var(--width); 
    background-color: white;
    border: 0; 
    
    outline: none; 
    box-shadow: 0 10px 10px 0 black;
    font-family: var(--font-stack);
    font-size: 25px;

    padding: 20px 50px 200px 50px; 
    line-height: 2rem;
    display: none; 
    
    top: 25%; 
    left: 30%; 
}

input{
    background-color: white;
    border:2px solid rgb(44, 136, 222); 
    border-radius: 4px;
    
}

label{
    font-family: var(--font-stack);
    color: var(--background-color);
    background-color: white;
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.1); 
    box-shadow: 10px 5px 5px black;
}